<div class="mt-5 mb-4">
  <h1>Edit your van description</h1>
  <h2>Don't forget that awesome solar shower you just build !</h2>
</div>
<div class="py-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.wallpapertip.com/wmimgs/31-313126_road-12-bridges-roads-photography-desktop-wallpapers-road.jpg)" >
  <div class="newform">
      <%= render "form", van: @van %>
  </div>
</div>
