<div class="mt-5 mb-4">
  <h1>Describe your van</h1>
  <h2>Share your lifestyle with other interesting people and start making money !</h2>
</div>
<div class="py-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpaperaccess.com/full/1079100.jpg)" >
  <div class="newform">
      <%= render "form", van: @van %>
  </div>
</div>
