// Specific CSS for your home-page
body {
  background-color:#F3EFCC ;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 64px;
  font-weight: bold;
}

h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}
