// Import page-specific CSS files here.
@import "home";

body{
    color: $oil-green;
    text-align: center;
}

.newform{
  color:white;
  text-shadow: rgba($color: #000000, $alpha: 0.8);
  width: 700px;
  margin: 0 auto;
}
