<footer class = "footer">
  <div class = "footer-container" >
    <div class ="contact-container">
      <a href="mailto:contact@hotmail.com">contact us</a>
    </div>
    <div class = "icons-container">
      <p>Follow us</p>
      <div class="icons">
       <a href = "#"><i class="footer-icon fab fa-facebook-square fa-2x"></i></a>
       <a href = "#"><i class="footer-icon fab fa-instagram fa-2x"></i></a>
       <a href = "#"><i class="footer-icon fab fa-youtube fa-2x"></i></a>
      </div>
    </div>
    <p>© 2021 VanYourLife</p> 
  </div>
</footer>
