.footer{
    text-align: center;
    background-color: $beige;
    height: 300px;
    padding: 70px 50px 50px 50px;
}
.icons-container{
  padding-top: 30px ;
}
.footer-icon{
    color: $light-green;
}
